<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://chork.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>chork.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Chork</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Chork</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MovieDBContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:b7uv5cjbb6.database.windows.net,1433;Initial Catalog=Chork_db;User ID=bch6000@b7uv5cjbb6;Password=gd5w4ifd7$wuen73nv!" Name="Data Source=tcp:b7uv5cjbb6.database.windows.net,1433;Initial Catalog=Chork_db;User Id=bch6000@b7uv5cjbb6;Password=gd5w4ifd7$wuen73nv!;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Chork.Models.MovieDBContext, Chork" MigrationConfiguration="Chork.Migrations.Configuration, Chork" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MovieDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:b7uv5cjbb6.database.windows.net,1433;Initial Catalog=Chork_db;User Id=bch6000@b7uv5cjbb6;Password=gd5w4ifd7$wuen73nv!;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>