@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    54 Gold Finch<br />
    Phase 1, Kingston 00011<br />
    <abbr title="Phone">P:</abbr>
    876.541.7365
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@chork.com">Support@chork.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@chork.com">Marketing@chork.com</a>
</address>